#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: rgb(180,210,186);
background: linear-gradient(90deg, rgba(180,210,186,1) 0%, rgba(75,84,59,1) 50%, rgba(180,210,186,1) 100%); 
}

.icons {
  padding-right: 10px;
  width: 30px;
  height: 30px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.main-list {
  padding: 25px;
  border-bottom: solid 3px #DCE2AA;
  font-size: larger;
}

.whole-page {
  padding: 50px;
  text-align: center;
  background: #B57F50;
  color: white;
}